body{
    /* border-left-width: 5px; */
    border-left:solid 5px lightgray;
    /* border-color:rgb(241, 8, 8); */
    min-height:100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

footer li a{
    color:tomato;
  }


  .copy{
    color: lightgray;
}